<h1>Airports#contact</h1>
<p>Find me in app/views/airports/contact.html.erb</p>
<br>
<a href="/airports/start">And now back to start</a>
<br>
<a href="https://www.google.com" target=new>or go to google</a>